.container {
  margin-top: 72px;
}

.wrapper_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider_bt {
  margin: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.wrapper_book {
  display: flex;
  margin-top: 48px;
}
