.wrapper {
  display: flex;
  position: relative;
}

.input {
  width: 542px;
  height: 56px;
  border: 1px solid #e7e7e7;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #a8a8a8;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 20px;
}

.search_button {
  position: absolute;
  right: 20px;
  top: 11px;
  cursor: pointer;
  border:none;
  background-color: transparent;
}
