.wrapper {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.icon {
  cursor: pointer;
}
.wrapper_icon {
  position: relative;
}
.icon_dot {
  position: absolute;
  left: 1px;
  bottom: 0px;
}
